<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HavaDurumu.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HavaDurumu.Properties.Settings>
            <setting name="LocationCode" serializeAs="String">
                <value>wc:TUXX0014</value>
            </setting>
            <setting name="ImageColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>65535</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>65535</value>
            </setting>
            <setting name="AlwaysTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowBackground" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ForeColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="RunStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseCompatibleTextRendering" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LocationName" serializeAs="String">
                <value>İstanbul</value>
            </setting>
        </HavaDurumu.Properties.Settings>
    </userSettings>
</configuration>